#portfolio-section {
  width: 100%;
  min-height: 2244px;
  background-color: #303131;
}
.port-image {
  width: 910.6px;
  height: 457px;
  object-fit: contain;
  margin-left: 277px;
  margin-bottom: 60px;
}
.port-card {
  display: flex;
  flex-wrap: wrap;
}
.mobi-description,
.description {
  margin-left: 33.4px;
  margin-top: 85px;
}
.mobi-description h2,
.description h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
}
.p-desc,
.mobi-p-desc {
  font-size: 16px;
  color: white;
  line-height: 1.5;
}
.mobi-p-desc {
  margin-bottom: 20px;
}
.port-btns {
  margin-top: 20px;
}
.git-btn,
.web-btn,
.mobi-web-btn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.git-btn {
  background-color: #feb633;
  border: none;
  color: white;
  margin-right: 33px;
}
.web-btn,
.mobi-web-btn {
  border: solid 2px #feb633;
  color: #feb633;
  background-color: #303131;
}
.mobi-images-div {
  margin-left: 277px;
  width: 910.6px;
  height: 457px;
  display: flex;
}
.mobi-img {
  width: 212.8px;
  height: 457px;
  margin-right: auto;
  margin-left: auto;
  object-fit: contain;
}

/* ---------Media Queries----------------- */

/* ----------------------------------
--------Big Laptop-------------------
-------------------------------------- */
@media (max-width: 1440px) {
  .port-image {
    width: 600px;
    height: 300px;
    margin-left: 200px;
  }
  .description {
    margin-top: 30px;
  }
  .mobi-img {
    width: 180px;
    height: 390px;
    margin-right: 30px;
  }
  .mobi-images-div {
    margin-left: 100px;
    width: 50%;
  }
  #portfolio-section {
    min-height: 1700px;
  }
  .mobi-description {
    margin-left: 10px;
  }
}

/* -----------------------------------------
      ------------Small laptops---------------
      ----------------------------------------- */
@media (max-width: 1200px) {
  .port-image {
    margin-left: 10px;
  }
  .port-image {
    width: 500px;
    height: 250px;
  }
  .mobi-img {
    width: 120px;
    height: 300px;
  }
  #portfolio-section {
    min-height: 1300px;
  }
  .mobi-images-div {
    margin-left: 20px;
    height: 350px;
  }
  .mobi-description {
    margin-top: 40px;
  }
}

/* -----------------------------------------
      ------------Tablets---------------
      ----------------------------------------- */

@media (max-width: 768px) {
  .port-image {
    width: 300px;
    height: 200px;
  }
  .description h2,
  .mobi-description h2 {
    font-size: 24px;
  }
  .p-desc,
  .mobi-p-desc {
    font-size: 16px;
  }
  .description {
    margin-top: 15px;
  }
  .mobi-images-div {
    margin-left: 10px;
  }
  .mobi-img {
    width: 90px;
  }
  #portfolio-section {
    min-height: 1100px;
  }
}

/* -----------------------------------------
      ------------MOBILE DEVICES---------------
      ----------------------------------------- */

@media (max-width: 500px) {
  .port-image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
  .description,
  .mobi-description {
    text-align: center;
    margin: 10px auto 45px auto;
  }

  .mobi-images-div {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 300px;
  }
  #portfolio-section {
    min-height: 1800px;
  }
}

/*----SMALL MOBILE DEVICES------*/

@media (max-width: 375px) {
  .mobi-img {
    margin-right: 5px;
  }

  #portfolio-section {
    min-height: 2090px;
  }
}
/* 
@media only screen and (max-width: 320px) {
  .mobi-img {
    width: 60px;
  }
} */
