#about {
  width: 100%;
  min-height: 450px;
  background-color: #303131;
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 277px;
}
.abt {
  margin-right: 300px;
  margin-top: 159px;
}
.abt-msg {
  margin-top: 87px;
}
.abt-msg p {
  font-size: 20px;
  color: white;
  line-height: 1.88;
}
.underline {
  width: 115px;
  height: 4px;
  padding: 2px 0;
  background-color: #fbd214;
}
.btns {
  display: flex;
  margin-top: 55px;
}
.abt h2 {
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin-bottom: 8.5px;
}
.port-btn,
.cv-btn {
  border-radius: 4px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 20px;
}
.port-btn {
  background-color: #feb633;
  margin-right: 74px;
  border: none;
  color: white;
}
.cv-btn {
  border-radius: 4px;
  border: solid 2px #feb633;
  color: #feb633;
  background-color: #303131;
}

/* ---------Media Queries----------------- */

/* ----------------------------------
--------Big Laptop-------------------
-------------------------------------- */
@media (max-width: 1440px) {
  .about-container {
    margin-left: 100px;
  }
}

/* -----------------------------------------
      ------------Small laptops---------------
      ----------------------------------------- */
@media (max-width: 1200px) {
  .about-container {
    margin-left: 10px;
  }
  .abt {
    margin-right: 70px;
  }
}

/* -----------------------------------------
      ------------Tablets---------------
      ----------------------------------------- */

@media (max-width: 768px) {
  .abt {
    margin-right: 20px;
    margin-top: 20px;
  }
  .abt-msg {
    margin-top: 20px;
  }
}

/* -----------------------------------------
      ------------MOBILE DEVICES---------------
      ----------------------------------------- */

@media (max-width: 500px) {
  .abt-msg p {
    font-size: 16px;
  }
  .port-btn,
  .cv-btn {
    padding: 10px;
    font-size: 16px;
  }
  .btns {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 90%;
  }
}
