#home {
  width: 100%;
  min-height: 794px;
  background-color: #2b2c2c;
  display: flex;
  flex-wrap: wrap;
}
.info {
  margin: 256px 64px 0 277px;
}

.info h1 {
  font-size: 72px;
  font-weight: bold;
  color: white;
  margin-bottom: 14px;
}
.info h2 {
  font-size: 32px;
  color: white;
  margin-bottom: 78px;
}
.hire-btn {
  width: 200px;
  height: 65px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  background-color: #feb633;
  border: none;
  text-decoration: none;
  text-align: center;
  padding: 15px;
}
.mgk {
  width: 638px;
  height: 794px;
}

/* ---------Media Queries----------------- */

/* ----------------------------------
--------Big Laptop-------------------
-------------------------------------- */
@media (max-width: 1440px) {
  .info {
    margin-left: auto;
    margin-right: auto;
  }
}

/* -----------------------------------------
      ------------Small laptops---------------
      ----------------------------------------- */
@media (max-width: 1200px) {
  .info h1 {
    font-size: 56px;
  }
  .info h2 {
    font-size: 24px;
  }
  .info {
    margin-left: 10px;
  }
  .mgk {
    width: 500px;
    height: 594px;
    margin-top: 24px;
  }
  #home {
    min-height: 618px;
  }
}

/* -----------------------------------------
      ------------Tablets---------------
      ----------------------------------------- */

@media (max-width: 768px) {
  .info h1 {
    font-size: 40px;
  }
  .info h2 {
    font-size: 20px;
  }
  .mgk {
    width: 350px;
    height: 450px;
    margin-top: 50px;
  }
  #home {
    min-height: 500px;
  }
}

/* -----------------------------------------
      ------------MOBILE DEVICES---------------
      ----------------------------------------- */

@media (max-width: 500px) {
  .info {
    margin-top: 10px;
    order: 1;
  }
  #home {
    justify-content: center;
    height: 800px;
  }
}

/*----SMALL MOBILE DEVICES------*/

@media (max-width: 375px) {
  .mgk {
    width: 290px;
    height: 400px;
  }
  .info {
    margin-top: 5px;
  }
}
