#contact {
  width: 100%;
  min-height: 522px;
  background-color: #2b2c2c;
}
.contact-info {
  display: flex;
  flex-wrap: wrap;
}

form {
  margin-left: 277px;
}
label {
  color: white;
  font-weight: bold;
  font-size: 16px;
}
#name-inp,
#em-inp {
  width: 360px;
  height: 30px;
  margin-bottom: 20px;
}
#mes-inp {
  width: 766px;
  height: 172px;
  margin: 0 0 8px 0;
  /* position: relative; */
}
#name-inp,
#em-inp,
#mes-inp {
  border-radius: 3px;
  border: solid 2px #fbd214;
  background-color: #ffffff;
}
#name-inp {
  margin-right: 46px;
}
.send-btn {
  width: 200px;
  height: 65px;
  margin-top: 34px;
  border-radius: 4px;
  background-color: #feb633;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border: none;
}
.send-btn:hover {
  background-color: #feb733b9;
}
.info-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}
.info-det {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
}
.socials {
  width: 90px;
  margin-left: auto;
  margin-right: auto;
}
.my-info {
  margin-left: 250px;
}
#twitter {
  margin-right: 30px;
}
#twitter,
#linkedIn {
  width: 30px;
  height: 20px;
}

/* ---------Media Queries----------------- */

/* ----------------------------------
--------Big Laptop-------------------
-------------------------------------- */
@media (max-width: 1440px) {
  form {
    margin-left: 100px;
  }
}

/* -----------------------------------------
      ------------Small laptops---------------
      ----------------------------------------- */
@media (max-width: 1200px) {
  form {
    margin-left: 10px;
  }
  #name-inp,
  #em-inp {
    width: 220px;
    height: 30px;
  }
  #mes-inp {
    width: 486px;
    height: 172px;
  }
}

/* -----------------------------------------
      ------------Tablets---------------
      ----------------------------------------- */

@media (max-width: 768px) {
  #name-inp,
  #em-inp {
    width: 170px;
  }
  #mes-inp {
    width: 360px;
    height: 152px;
  }
  #name-inp {
    margin-right: 20px;
  }
  .info-text {
    font-size: 20px;
  }
  form {
    width: 50%;
  }
  .my-info {
    margin-left: 80px;
  }
  .send-btn {
    width: 150px;
    height: 60px;
  }
  #contact {
    min-height: 500px;
  }
}

/* -----------------------------------------
      ------------MOBILE DEVICES---------------
      ----------------------------------------- */

@media (max-width: 500px) {
  #contact {
    min-height: 800px;
  }
  #mes-inp {
    margin-right: 0;
  }
  .my-info {
    margin-left: auto;
    margin-top: 45px;
    margin-right: auto;
    width: 80%;
  }

  form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*----SMALL MOBILE DEVICES------*/

@media (max-width: 375px) {
  #mes-inp {
    width: 290px;
  }
}
